img {
    animation-duration:2s;
    animation-name: fadeInAnimation;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    
}
@keyframes fadeInAnimation{

    0% {
        opacity: 0%;
        
    }
    100% {
        opacity: 100%;
       
    }
}
