body,html {
    animation-duration:3s;
    animation-name: fadeInAnimation;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
}
@keyframes fadeInAnimation{

    0% {
        opacity: 0;
        
    }
    100% {
        opacity: 1;
       
    }
}
.title {

    font-family: "ObjectSans-Bold";

    animation-name: webName;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes webName {
    0%{
        font-size: 100;
    }
    100%{
        font-size: 800;
    }
}
